.search-form {
    max-width: 1140px;
    margin: 0 auto;
    padding: 70px 0 15px 5px;
    border-bottom: 1px solid #E8E8E8;

}

.search-form__input {
    border: 0;
    color: #A0A0A0;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    outline: none;
}

.search-form__input:focus {
    border: 3px solid #2BE080;
}


.search-form__input-wide {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.search-form__submit {
    width: 34px;
    height: 34px;
    margin: 0;
    padding: 6px;
    background-image: url("../../images/icon-search.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 1px solid #E8E8E8;
    cursor: pointer;
    display: block;
    float: left;
    transition: opacity 0.3s ease;
}

.search-form__submit:hover {
    opacity: 0.2;
}

.search-form__submit-orange {
    width: 80px;
    height: 34px;
    margin: 0;
    padding: 0;
    background-image: url("../../images/icon-search-orange.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    float: right;
    transition: opacity 0.3s ease;
}

.search-form__submit-orange:hover {
    opacity: 0.2;
}

@media screen and (max-width:800px) {
    .search-form {

        padding: 82px 0 17px 5px;
    }
}

@media screen and (max-width:500px) {
    .search-form__submit {

        display: none;
    }

    .search-form__input {
        text-align: left;
        font-size: 18px;
    }

    .search-form__input-wide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 17px;
    }

    .search-form {
        padding-top: 95px;
        padding-bottom: 0;
    }

    .search-form__submit-orange {
        margin-right: 3px;

    }
}