.technologies {
    padding: 100px 70px;
    margin: 0 auto;
    max-width: 1280px;
    background: #F5F5F5;
}

.technologies__title {
    padding: 0;
    margin: 90px auto 0;
    color: #000;
    text-align: center;
    font-size: 50px;
    font-family: Inter;
    line-height: 58px;
    letter-spacing: -2px;

}



.technologies__subtitle {
    padding: 0;
    margin: 26px auto 0;
    color: #000;
    text-align: center;
    font-size: 11px;
    font-family: 'Inter';
    line-height: 20px;
    letter-spacing: -0.56px;
    max-width: 450px;



}

.technologies__list {
    padding: 0;
    margin: 101px auto 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.technologies__item {
    min-width: 90px;
    padding: 22px 0;
    margin: 0;
    border-radius: 10px;
    background: #E8E8E8;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    letter-spacing: -0.56px;


}

@media screen and (max-width:850px) {
    .technologies {
        padding: 90px 50px;
        margin: 0 auto;

    }

    .technologies__title {

        margin-top: 80px;
        font-size: 50px;
        font-family: Inter;
        line-height: 58px;
        letter-spacing: -2px;
    }

    .technologies__subtitle {

        margin-top: 22px;
        max-width: 400px;
    }

    .technologies__list {

        margin-top: 81px;

    }

    .technologies__item {
        padding: 21px 0;
        min-width: 84px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

@media screen and (max-width:660px) {
    .technologies {
        padding: 70px 18px;

    }

    .technologies__title {
        margin-top: 50px;
        font-size: 30px;
        font-family: Inter;
        letter-spacing: -1.2px;
    }

    .technologies__subtitle {
        margin-top: 13px;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
    }

    .technologies__list {
        flex-direction: row;
        margin-top: 50px;
        flex-wrap: wrap;
        padding: 0 52px;
        justify-content: space-between;

    }
    .technologies__item {
    
        min-width: 84px;
    }
}